html{
    background-color: black;
}
/*width of 50% and a margin-left of 25%.*/
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

h1{
    font-size: 2rem;
    text-transform: uppercase;
}


img{
    border: 5px solid white;
    width: 100%;
}